body.page-issues {
  background-color: #F5F5F5;

  .header-row {
    background-color: #fff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #E6E6E6;
  }

  .header {
    height: 110px;

    .logo {
      float: left;
      margin-top: 35px;
      margin-left: 50px;
      background-image: url('../img/logo-small.png');
      background-repeat: no-repeat;
      background-position: center;
      width: 120px;
      height: 40px;
    }

    a {
      float: right;
      display: block;
      font-size: 16px;
      line-height: 18px;
      color: #313155;
      background-image: url('../img/icon-logout.png');
      background-position: left center;
      background-repeat: no-repeat;
      padding-left: 30px;
      margin-top: 45px;
      margin-right: 56px;
    }
  }

  .content {
    .menu {
      text-align: center;
      margin: 30px 0;

      a {
        display: inline-block;
        margin: 0 10px;
        font-size: 14px;
        line-height: 18px;
        color: #808080;

        &:hover, &.active {
          color: #000;
          text-decoration: none;
        }

        &:before {
          content: ' ';
          display: block;
          float: left;
          width: 16px;
          height: 16px;
          margin-right: 8px;
          opacity: 0.5;
          background-repeat: no-repeat;
          background-position: left center;
        }

        &:hover:before, &.active:before {
          opacity: 1;
        }

        &.open:before {
          background-image: url('../img/icon-open.png');
        }
        &.closed:before {
          background-image: url('../img/icon-closed.png');
        }
      }
    }

    .issue {
      .main-block {
        background-repeat: no-repeat;
        background-position: 30px 3px;
        padding-left: 60px;

        &.open {
          background-image: url('../img/icon-open-green.png');
        }

        &.closed {
          background-image: url('../img/icon-closed-green.png');
        }

        .info {
          font-size: 13px;
          color: #bfbfbf;
          margin-top: 10px;
        }
      }

      .comments-block {
        padding-top: 5px;
      }

      a.title {
        font-size: 15px;
        line-height: 22px;
        color: #333;
      }

      a.comments {
        font-size: 13px;
        color: #999;
        background-image: url('../img/icon-comments.png');
        background-position: left top;
        background-repeat: no-repeat;
        line-height: 16px;
        padding-left: 23px;
      }

      .label {
        line-height: 22px;
      }
    }
  }

  .pagination {
    display: block;
    text-align: center;

    * {
      display: inline-block;
      height: 35px;
      line-height: 35px;
      text-align: center;
      margin: 0 4px;
    }

    span.disabled {
      color: #bbb;
    }

    a.num {
      width: 35px;
      color: #000;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0px 3px 1px -2px rgba(209,209,209,1);

      &.active, &:hover {
        color: #fff;
        background-color: #9fd533;
        box-shadow: none;
      }

      &:hover, &:focus {
        text-decoration: none;
      }

    }
  }
}
