$brand-success: #9fd533;
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "pages/page_login";
@import "pages/page_issues";
@import "pages/page_issue";

html {
  height: 100%;
}

a {
  color: #9fd533;

  &:hover, &:focus {
    color: #9fd533;
    text-decoration: underline;
  }
}
