{% extends 'base.html.twig' %}

{% block title %} Welcome {% endblock %}

{% block bodyClasses %} page-login {% endblock %}

{% block content %}
  <div class="block-login">
    <div class="logo"></div>
    <a href="/auth" class="btn btn-success btn-lg">Login With GitHub</a>
  </div>
{% endblock %}
